<div class="page">
    <div class="container">
        <div class="row-spaced spaced">
            <div class="col md-4">
                <h1 class="f5 weight-black allcaps spaced">Israel Pants on fire</h1>
                <h5 class="f6 weight-normal cam" (click)="openDialog()">What about October 7?
                    <span class="triangle tilt"></span>
                </h5>
            </div>
            <div class="col md-8">
                <pof-content [id]="'main'"></pof-content>
            </div>

        </div>


        <ng-container *ngIf="list$ | async as posts">
            <ul class="row ucol umd-3 boxed">
                <li *ngFor="let p of posts; let i = index; trackBy:trackByFn">
                    <pof-public-card [post]="p"></pof-public-card>
                </li>
            </ul>
            <ng-container *ngIf="extraParams$ | async as params">
                <pof-pager *ngIf="params.hasMore" [isLoadMore]="params.hasMore" (onPage)="getPage()"></pof-pager>
            </ng-container>

        </ng-container>

    </div>
</div>
